<div class="container">
    <h2>Buscar Productos</h2>
    <br>
    <div class="row">
        <div class="input-group">
            <div class="col-5">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" name="search" id="check1" ng-model="checked" (click)="activar1()" value="name" type="radio" value="" aria-label="Radio button for following text input">
                    <label for="">Nombre Producto</label>
                    <input type="text" [disabled]="activo" [(ngModel)]="messageName">
                </div>

            </div>
            <div class="col-5">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" name="search" id="check2" ng-model="checked" (click)="activar()" value="codebar" type="radio" value="" aria-label="Radio button for following text input">
                    <label for="">Código de Barras</label>
                    <input type="text" [disabled]="activo1" [(ngModel)]="messageCodebar">
                </div>
            </div>
            <div class="col-2" style="align-items:center ;">
                <button type="button" class="btn btn-primary" (click)="searchProducts()">Buscar</button>
            </div>
        </div>
    </div>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>