<div class="container">
    <br>
    <div class="row g-3">
        <div class="col">
            <h3>Modificar Cliente {{id}} </h3> 
        </div>
    </div>
    

    <hr>
    <form>
        <div class="row g-3">
            <div class="col">
                <input [(ngModel)]="customer.name"  name="name" type="text" id="inputName" class="form-control" placeholder="Nombre" aria-label="First name">
            </div>
            <div class="col">
                <input [(ngModel)]="customer.lastName" type="text" id="inputLast" name="apellido" class="form-control" placeholder="Apellido" aria-label="Last name" >
            </div>
        </div>
        <div class="row g-3">
            <div class="col">
                <select [(ngModel)]="customer.identificationType" name="identificacion" id="identificaciontype" name="tipoid" class="form-select" placeholder="Tipo de identificacion" aria-label="identificacion" >
                    <option value="tipo" disabled selected>Tipo identificacion</option>
                    <option value="DNI">DNI</option>
                    <option value="CUIL">CUIL</option>
                    <option value="CUIT">CUIT</option>
                </select>
            </div>
            <div class="col">
                <input type="number" [(ngModel)]="customer.identification" id="identficacion"  name="identficacion" class="form-control" placeholder="DNI/CUIL/CUIT" aria-label="dni">
            </div>
        </div>

        <div class="row g-3">
            <div class="col">
                <input type="text" id="inputAdrees" [(ngModel)]="customer.address" name="inputAdrees" class="form-control" placeholder="Calle - N° - Piso - Depto" aria-label="calle">
            </div>
        </div>
        <div class="row g-3">
            <div class="col">
                <select [(ngModel)]="customer.healthInsurance" id="os" name="Obra Social"  class="form-select"  placeholder="healthInsurance" aria-label="healthInsurance" (change)="sethealthInsurance(customer.healthInsurance)">
                    <option  value={{customer.healthInsurance}} selected>{{customer.healthInsurance.name}}</option>
                    <option *ngFor="let os of healthinsurance" [ngValue]="os">
                        {{os.name}}
                    </option>
                </select>
            </div>

            <div class="col">
                <div class="row">
                    <div class="col">
                        <select [(ngModel)]="customer.healthInsurancePlan"  name="availablePlans" id="plan" name="plan" class="form-select" placeholder="availablePlans" aria-label="availablePlans" (change)="sethealthInsurancePlan(customer.healthInsurancePlan)">
                            <option value={{customer.healthInsurancePlan}}  disabled selected>{{customer.healthInsurancePlan.name}}</option>
                            <option  *ngFor="let osp of customer.healthInsurance.availablePlans" [ngValue]="osp">
                                {{osp.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-primary" (click)="save()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

  
