<br>
<p>Listado de Productos precio cantidad y sucursal</p>
<br>



<div class="container">
<table class="table table-hover align-middle">
    <thead class="table-info">
        <tr>
            <th scope="col"></th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad Disponible</th>
            <th scope="col">Sucursal</th>
          </tr>
    </thead>
    <tbody>

        <tr *ngFor="let offer of list">
            
            <th scope="row">{{ offer.id }}</th>
            <td>{{ offer.product }}</td>
            <td>{{ offer.finalPrice }}</td>
            <td>{{ offer.stock }}</td>
            <!-- <td>{{offer.sucursal}}</td> -->
            <th scope="row">{{ offer.id }}</th>
        </tr>

        <!-- <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Suc1</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Suc1</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Suc1</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Suc1</td>
        </tr> -->
      </tbody>

    <tbody>
      
    </tbody>
  </table>
</div>