<div class="container">
    <h3>Crear Orden de Venta</h3>
    <form *ngIf="ocultar">
        <div class="row g-3">
            <div class="col 1">
                <input type="text" class="form-control"
                    placeholder="Buscar Cliente por nombre, apellido o DNI/CUIT/CUIL " name="filterCustomer"
                    [(ngModel)]="filterCustomer">
            </div>
        </div>
    </form>


    <table class="table table-hover text-center">
        <thead class="table-info">
            <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">DNI/CUIL/CUIT</th>
                <th scope="col">Dirección</th>
                <th scope="col">Obra Social</th>
                <th scope="col">Plan</th>

            </tr>
        </thead>
        <tbody *ngIf="ocultar">
            <tr
                *ngFor="let customer of customers | FilterCustByAttributes: filterCustomer | paginate: { itemsPerPage: 10, currentPage: page } ">
                <td><input id="radio" name="customers" type="radio" value="selectedCustomer"
                        (change)="onSelectionChange(customer)" /></td>
                <td>{{customer.name + ' ' + customer.lastName}}</td>
                <td>{{customer.identification}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.healthInsurance.name}}</td>
                <td>{{customer.healthInsurancePlan.name}}</td>
            </tr>
            <br>
            <br>
        </tbody>
        <tbody *ngIf="mostrar">
            <tr>
                <td></td>
                <td>{{selectedCustomer.name + ' ' + selectedCustomer.lastName}}</td>
                <td>{{selectedCustomer.identification}}</td>
                <td>{{selectedCustomer.address}}</td>
                <td>{{selectedCustomer.healthInsurance.name}}</td>
                <td>{{selectedCustomer.healthInsurancePlan.name}}</td>
            </tr>
        </tbody>
    </table>
    <button *ngIf="mostrar" type="button" class="btn btn-outline-primary" (click)="obtenerClientes()">Seleccionar otro cliente</button>
    <!--<button *ngIf="ocultar" type="button" class="btn btn-outline-primary" (click)="openModalCustomer()" >Crear nuevo cliente</button>-->
</div>
<br>
<div class="container" *ngIf="selectedCustomer != null && mostrar">

    <h5>Buscar Productos</h5>
    <div class="row p-3">
        <div class="input-group ">
            <div class="col-5 px-2">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" name="search" id="check1" value="name" type="radio"
                        (click)="activateName()" checked aria-label="Radio button for following text input">
                    <label for="">&nbsp;Nombre Producto&nbsp;&nbsp;</label>
                    <input type="text" [disabled]="!activeName" [(ngModel)]="messageName">
                </div>
            </div>
            <div class="col-5 px-2">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" name="search" id="check2" value="codebar" type="radio"
                        (click)="activateBarcode()" aria-label="Radio button for following text input">
                    <label for="">&nbsp;Código de Barras&nbsp;&nbsp;</label>
                    <input type="text" [disabled]="!activeBarcode" [(ngModel)]="messageBarcode">
                </div>
            </div>
            <div class="col-2 px-3">
                <button type="button" class="btn btn-primary" (click)="searchProducts()">Buscar producto</button>
            </div>
        </div>
    </div>
    <table class="table table-hover text-center">
        <thead class="table-info">
            <tr>
                <th scope="col"></th>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Código de Barras</th>
                <th scope="col">Laboratorio</th>
                <th scope="col">Prescripción Requerida</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products">
                <td><input id="radio" name="order" type="radio" value="selectedOrder"
                        (change)="onSelectionChange2(item)" /></td>
                <td>{{ item.name }}</td>
                <td>{{ item.barcode }}</td>
                <td>{{ item.laboratory }}</td>
                <td>{{ item.prescription }}</td>
                <td>{{ item.price | currency: '$ '}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="change==true">
        <table class="table table-hover text-center">
            <thead class="table-info">
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Obra Social</th>
                    <th scope="col">Plan OS</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Descuento</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Final</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ offer.product.name }}</td>
                    <td>{{ offer.stock }}</td>
                    <td>{{ offer.healthInsurance.name }}</td>
                    <td>{{ offer.healthInsurancePlan.name }}</td>
                    <td>{{ offer.product.price | currency: '$ '}}</td>
                    <td>{{ offer.discountValue | percent: '2.0-2'}} %</td>
                    <td><input [(ngModel)]="cant" (change)="calcular(cant)" type="number" name="cantidad" id="cantidad"></td>
                    <td>{{ precioTotal | currency: '$ '}}</td>
                    <td><button type="button" class="btn btn-primary" (click)="onSelectionChange3(offer)">Agregar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
   
    <div class="container" *ngIf="click == true" >
        <br>
        <h5>Órden de venta</h5>
        <br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Cód. Barra</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>       
            <tbody>
                <tr *ngFor="let item of itemsOffer; let i = index">
                    <td>{{ i}} - {{cant }} </td>
                    <td>{{ item.product.barcode }}</td>    
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.finalPrice | currency: '$ '}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary" (click)="onDelete(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z">
                            </path>
                        </svg>
                        <i class="visually-hidden">Button</i>
                        </button>
                    </td>
            </tbody>
        </table>
    
        <div class="row mt-3">
            <div class="col-12 col-sm-7 text-grey-d2 text-95 mt-2 mt-lg-0"></div>
    
            <div class="col-12 col-sm-5 text-grey text-90 order-first order-sm-last">
                <div class="row my-2">
                    <div class="col-7 text-right"></div>
                    <div class="col-5">
                        <span class="text-120 text-secondary-d1"></span>
                    </div>
                </div>
    
                <div class="row my-2">
                    <div class="col-7 text-right"></div>
                    <div class="col-5">
                        <span class="text-110 text-secondary-d1"></span>
                    </div>
                </div>
                <hr>
                <div class="row my-2 align-items-right bgc-primary-l3 p-2">
                    <div class="col-9 text-right">
                        <h5>Total de Orden de venta: </h5>
                    </div>
                    <div class="col-3">
                        <span class="text-50 text-success-d3 opacity-2"> 
                            <h5>{{ totalOdenVenta | currency: '$ '}}</h5> 
                        </span>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <button class="btn btn-primary align-right" type="submit" (click)="generarSaleOrderItems()">Generar orden</button>
    </div>
    <br>
    <br>
</div>


    <!--<pagination-controls class="text-center" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
 -->