<div class="container">
    <h3>Crear Orden de Venta</h3>

    <form *ngIf="ocultarTB">
        <br>
        <div class="row g-3">
            <div class="col 1">
                <input type="text" class="form-control"
                    placeholder="Buscar Cliente por nombre, apellido o DNI/CUIT/CUIL " name="filterCustomer"
                    [(ngModel)]="filterCustomer">
            </div>
        </div>
    </form>

    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">DNI/CUIL/CUIT</th>
                <th scope="col">Dirección</th>
                <th scope="col">Obra Social</th>
                <th scope="col">Plan</th>

            </tr>
        </thead>
        <tbody *ngIf="ocultarTB">
            <tr
                *ngFor="let customer of customers | FilterCustByAttributes: filterCustomer | paginate: { itemsPerPage: 10, currentPage: page } ">
                <td><input id="radio" name="customers" type="radio" value="selectedCustomer"
                        (change)="onSelectionChange(customer)" /></td>
                <td>{{customer.name + ' ' + customer.lastName}}</td>
                <td>{{customer.identification}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.healthInsurance.name}}</td>
                <td>{{customer.healthInsurancePlan.name}}</td>
            </tr>
            <br>
            <br>
        </tbody>
        <tbody *ngIf="mostrarTB">
            <tr>
                <td></td>
                <td>{{selectedCustomer.name + ' ' + selectedCustomer.lastName}}</td>
                <td>{{selectedCustomer.identification}}</td>
                <td>{{selectedCustomer.address}}</td>
                <td>{{selectedCustomer.healthInsurance.name}}</td>
                <td>{{selectedCustomer.healthInsurancePlan.name}}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-outline-primary" (click)="refresh()">Seleccionar otro cliente</button>
</div>
<br>
<div class="container" *ngIf="selectedCustomer != null && mostrarTB">

    <h5>Buscar Productos</h5>
    <br>
    <div class="row">
        <div class="input-group">
            <div class="col-5">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" name="search" id="check1" value="name" type="radio"
                        (click)="activateName()" checked aria-label="Radio button for following text input">
                    <label for="">&nbsp;Nombre Producto&nbsp;&nbsp;</label>
                    <input type="text" [disabled]="!activeName" [(ngModel)]="messageName">
                </div>

            </div>
            <div class="col-5">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" name="search" id="check2" value="codebar" type="radio"
                        (click)="activateBarcode()" aria-label="Radio button for following text input">
                    <label for="">&nbsp;Código de Barras&nbsp;&nbsp;</label>
                    <input type="text" [disabled]="!activeBarcode" [(ngModel)]="messageBarcode">
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary" (click)="searchProducts()">Buscar</button>
            </div>
        </div>
    </div>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Código de Barras</th>
                <th scope="col">Laboratorio</th>
                <th scope="col">Prescripción Requerida</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products">
                <td><input id="radio" name="order" type="radio" value="selectedOrder"
                        (change)="onSelectionChange2(item)" /></td>
                <th>{{item.name}}</th>
                <td>{{item.barcode}}</td>
                <td>{{item.laboratory}}</td>
                <td>{{item.prescriptionRequired}}</td>
                <th>{{item.price}}</th>
            </tr>
        </tbody>
    </table>
    <div *ngIf="change==true">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Obra Social</th>
                    <th scope="col">Plan OS</th>
                    <th scope="col">Descuento</th>
                    <th scope="col">Precio Final</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{offer.product.name}}</td>
                    <td>{{offer.product.price}}</td>
                    <td>{{offer.healthInsurance.name}}</td>
                    <td>{{offer.healthInsurancePlan.name}}</td>
                    <th>{{offer.discountValue}}</th>
                    <th>{{offer.finalPrice}}</th>
                    <th>{{offer.stock}}</th>
                </tr>
            </tbody>
        </table>
    </div>
    <!--<pagination-controls class="text-center" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
 -->
