<div class="container" *ngIf="hide==false">
    <div class="row g-3">
        <div class="col">
            <h3>Ordenes de Compra</h3>
        </div>
        <div class="col-auto">
            <img src="../../assets/logito.png" alt="">
        </div>
    </div>
    <form action="">
        <div class="row g-3">
            <div class="col 1">

                
                <input type="text" class="form-control" placeholder="Buscar Ordenes por Nro..."
                        name="filterOrderStock" [(ngModel)]="filterOrderStock">
            </div>
        </div>
    </form>
    <br>
    <table class="table table-hover text-center">
        <thead class="table-info">
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Orden de Compra #</th>
                <th scope="col">Fecha</th>
                <th scope="col">Depósito</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>       
        <tbody>
            <tr *ngFor="let order of stockOrders | filterOStockByNumber: filterOrderStock | paginate: { itemsPerPage: 6, currentPage: page }">
                <td><input id="radio" name="order" type="radio" value="selectedOrder"(change)="onSelectionChange(order)" /></td>
                <th scope="row"> {{ order.id }} </th>
                <td>{{ order.purchaseOrderId }}</td>
                <td>{{ order.createdDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{ order.warehouse.name }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-secondary" (click)="onDelete(order.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z">
                                </path>
                            </svg>
                            <i class="visually-hidden" >Button</i>
                        </button>
                    </div>
                </td>
        </tbody>
    </table>

    <pagination-controls class="text-center" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

</div>

<br>
<br>


<div class="container container-fluid " *ngIf="hide==true">
    <h3>Detalle Orden {{selectedOrder.id}}</h3>
    <br>
    <table class="table table-hover text-center">
        <thead class="table-info">
            <tr>
                <th scope="col">Cod.</th>
                <th scope="col">Producto</th>
                <th scope="col">Cód. Barra</th>
                <th scope="col">Estado</th>
                <th scope="col">Cant. Solicitada</th>
                <th scope="col">Cant. Recibida</th>
                <th scope="col">Cant. Devuelta</th>
                <th scope="col">Total Actual</th>
            </tr>
        </thead>       
        <tbody>
            <tr *ngFor="let item of selectedOrder.stockOrderItems">
                <td>{{ item.id}} </td>
                <td>{{ item.product.name }} </td>
                <td>{{ item.product.barcode }} </td>
                <td>{{ item.stockOrderItemStatus | statusPipe }}</td>
                <td>{{ item.requiredQuantity }}</td>
                <td>  
                    <div>
                        <input type="number" name="received" [id]="item.id" min=0 oninput="validity.valid||(value='');"
                            [ngModel]="item.receivedQuantity" (change)="change(item)">
                    </div>
                </td>
                <td>
                    <div>
                        <input name="rejected" type="number" [id]="item.product.name" min=0 oninput="validity.valid||(value='');"
                            [ngModel]="item.rejectedQuantity" (change)="change(item)" >
                    </div>
                </td>
                <td>
                    <div>
                        <input type="number" disabled="true" [ngModel]="item.actualQuantity" >
                    </div>
                </td>
        </tbody>
    </table>

    <br>
    <button class="btn btn-primary align-right" type="submit" (click)="guardarOrden()">Ingresar Stock</button>
    <button class="btn align-right btn-outline-danger" type="submit" (click)="reject(selectedOrder.id)">Devolver Pedido</button>
</div>
