<div class="container">
    <h3>Ordernes de Compra Recibidas</h3>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Fecha</th>
                <th scope="col">Cliente</th>
                <th scope="col">Cajero</th>
                <th scope="col">Total</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>       
        <tbody>
            <tr *ngFor="let order of stockOrders">
                <td><input id="radio" name="order" type="radio" value="selectedOrder"(change)="onSelectionChange(order)" /></td>
                <th scope="row"> {{ order.id }} </th>
                <td>{{ order.createdDate }}</td>
                <td>{{ order }}</td>
                <td>{{ order }}</td>
                <td>{{ order }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-secondary" (click)="onDelete()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z">
                                </path>
                            </svg>
                            <i class="visually-hidden" >Button</i>
                        </button>
                    </div>
                </td>
        </tbody>
    </table>
</div>

<br>
<br>
<!--
<div class="container container-fluid " *ngIf="selectedOrder.id != null">
    <h3>Detalle Orden {{selectedOrder.id}}</h3>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Locker</th>
                <th scope="col">Rack</th>
                <th scope="col">Producto</th>
                <th scope="col">Cod. Barra</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Descuento</th>
                <th scope="col">Total</th>
            </tr>
        </thead>       
        <tbody>
            <tr *ngFor="let item of orderDetail.saleOrderItems">
                <td>{{ item.stocks[0].locker.id}} </td>
                <td>{{ item.stocks[0].locker.rack.id}} </td>
                <td>{{ item?.offer?.product?.name }} </td>
                <td>{{ item?.offer?.product?.barcode }}</td>
                <td>{{ item.unitaryPrice }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.discountAmount }}</td>
                <td>{{ item.totalPrice }}</td>
        </tbody>
    </table>

    <div class="row mt-3">
        <div class="col-12 col-sm-7 text-grey-d2 text-95 mt-2 mt-lg-0"></div>

        <div class="col-12 col-sm-5 text-grey text-90 order-first order-sm-last">
            <div class="row my-2">
                <div class="col-7 text-right"></div>
                <div class="col-5">
                    <span class="text-120 text-secondary-d1"></span>
                </div>
            </div>

            <div class="row my-2">
                <div class="col-7 text-right"></div>
                <div class="col-5">
                    <span class="text-110 text-secondary-d1"></span>
                </div>
            </div>

            <div class="row my-2 align-items-right bgc-primary-l3 p-2">
                <div class="col-7 text-right">
                    Total de Orden: 
                </div>
                <div class="col-5">
                    <span class="text-50 text-success-d3 opacity-2"> 
                        <b> {{orderDetail.totalAmount}} </b> </span>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary align-right" type="submit" (click)="despachar()">Despachar</button>
</div>


-->



