<div class="container">
    <h3>Ordernes de Venta Facturadas</h3>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cliente</th>
                <th scope="col">Cajero</th>
                <th scope="col">Total</th>
            </tr>
        </thead>       
        <tbody>
            <tr *ngFor="let order of saleOrder">
                <td><input id="radio" name="order" type="radio" value="selectedOrder"(change)="onSelectionChange(order)" /></td>
                <th scope="row"> {{ order.id }} </th>
                <td>{{ order.createdDate }}</td>
                <td>{{ order.customer.lastName }}, {{ order.customer.name }}</td>
                <td>{{ order.user.userName }}</td>
                <td>{{ order.totalAmount }}</td>
        </tbody>
    </table>
</div>

<br>
<br>

<button class="btn btn-primary align-right" type="submit" (click)="despachar()">Despachar</button>


