  <!-- Bootstrap Static Header -->
  <div class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 *ngIf="isHome" class="display-4 font-weight-bold text-center">Bienvenido a FARMAVIP</h1>
        <h1 *ngIf="isFacturar" class="display-4 font-weight-bold text-center">FACTURACION</h1>
        <h1 *ngIf="refreshListOffer" class="display-4 font-weight-bold">LISTADO DE PRECIOS</h1>
        <h1 *ngIf="refreshListDiscount" class="display-4 font-weight-bold">LISTADO DE DESCUENTOS</h1>
    </div>
</div>

  <!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media d-flex align-items-center">
        <img *ngIf="user.userRole == 'ADMIN'" src="../../../assets/perfil1.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <img *ngIf="user.userRole == 'SELLER'" src="../../../assets/perfil2.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <img *ngIf="user.userRole == 'CASHIER'" src="../../../assets/perfil3.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <img *ngIf="user.userRole == 'WAREHOUSE_MANAGER'" src="../../../assets/perfil4.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <div class="media-body">
          <h4 class="m-0">{{ user.userName }}</h4>
          <p class="font-weight-light text-muted mb-0">{{ user.userRole }}</p>
        </div>
      </div>
      <div>
        <button class="btn" (click)="logOut()">Cerrar Sesion</button>
      </div>       
    </div>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic bg-light" (click)="home()">
                  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                  Home
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic" (click)="facturar()">
                  <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                  Facturar
              </a>
      </li>
      
      <li class="nav-item dropend"> <!-- cambiar por dropdown-->
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                  Reportes
              </a>
              <ul class="dropdown-menu dropdown-menu-ligth" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#" (click)="listOffer()">Listado de Precios</a></li>
                <li><a class="dropdown-item" href="#" (click)="listDiscount()">Listado de Descuentos</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
      </li>
    </ul>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                  Area charts
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                  Bar charts
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                  Pie charts
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
                  Line charts
              </a>
      </li>
    </ul>
  </div>
  <!-- End vertical navbar -->
  
  <!-- Page content holder -->

  <div class="page-content p-5" id="content">
    <app-home *ngIf="isHome"></app-home>
    <app-bill-order *ngIf="isFacturar"></app-bill-order>
    <app-list-offer *ngIf="refreshListOffer"></app-list-offer>
    <app-list-discount *ngIf="refreshListDiscount"></app-list-discount>
  </div>
  <!-- End demo content -->